In [1]:
import numpy as np
import pandas as pd

In [3]:
s = pd.Series([1,3,5,np.nan,6.8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.8
dtype: float64

In [8]:
dates = pd.date_range("20130101", periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [12]:
df = pd.DataFrame(np.random.randn(6,4), index=dates,columns=list("ABCD"))
df

                   A         B         C         D
2013-01-01  0.601775  1.927217 -0.528308 -0.575904
2013-01-02  0.605653  0.087549  0.096415 -1.678157
2013-01-03  1.034388  0.817980  0.589834 -1.018562
2013-01-04 -1.229200 -0.170612  0.303431 -0.569110
2013-01-05 -0.916935  0.547617  0.305648  1.295048
2013-01-06 -0.004060 -0.241869  1.027610  2.276999

In [13]:
df2 = pd.DataFrame(
    {
        "A":1.0,
        "B":pd.Timestamp("20130102"),
        "C":pd.Series(1, index=list(range(4)), dtype="float32"),
        "D":np.array([3] * 4,dtype="int32"),
        "E":pd.Categorical(["test","train","test","train"]),
        "F":"foo",
    }
)
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [15]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [17]:
df2.A

0    1.0
1    1.0
2    1.0
3    1.0
Name: A, dtype: float64

In [18]:
df.head()

                   A         B         C         D
2013-01-01  0.601775  1.927217 -0.528308 -0.575904
2013-01-02  0.605653  0.087549  0.096415 -1.678157
2013-01-03  1.034388  0.817980  0.589834 -1.018562
2013-01-04 -1.229200 -0.170612  0.303431 -0.569110
2013-01-05 -0.916935  0.547617  0.305648  1.295048

In [19]:
df.tail(3)

                   A         B         C         D
2013-01-04 -1.229200 -0.170612  0.303431 -0.569110
2013-01-05 -0.916935  0.547617  0.305648  1.295048
2013-01-06 -0.004060 -0.241869  1.027610  2.276999

In [20]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [21]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [22]:
df.to_numpy()

array([[ 0.60177452,  1.927217  , -0.52830763, -0.57590369],
       [ 0.60565294,  0.08754908,  0.09641535, -1.67815661],
       [ 1.03438813,  0.81797957,  0.58983386, -1.01856165],
       [-1.22919992, -0.17061234,  0.30343097, -0.5691098 ],
       [-0.91693545,  0.54761688,  0.30564829,  1.29504767],
       [-0.00405983, -0.24186873,  1.02760989,  2.27699912]])

In [23]:
df2.to_numpy()

array([[1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo']],
      dtype=object)

In [24]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.015270  0.494647  0.299105 -0.044947
std    0.910959  0.813678  0.517880  1.507248
min   -1.229200 -0.241869 -0.528308 -1.678157
25%   -0.688717 -0.106072  0.148169 -0.907897
50%    0.298857  0.317583  0.304540 -0.572507
75%    0.604683  0.750389  0.518787  0.829008
max    1.034388  1.927217  1.027610  2.276999

In [25]:
df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A    0.601775    0.605653    1.034388   -1.229200   -0.916935   -0.004060
B    1.927217    0.087549    0.817980   -0.170612    0.547617   -0.241869
C   -0.528308    0.096415    0.589834    0.303431    0.305648    1.027610
D   -0.575904   -1.678157   -1.018562   -0.569110    1.295048    2.276999

In [26]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2013-01-01 -0.575904 -0.528308  1.927217  0.601775
2013-01-02 -1.678157  0.096415  0.087549  0.605653
2013-01-03 -1.018562  0.589834  0.817980  1.034388
2013-01-04 -0.569110  0.303431 -0.170612 -1.229200
2013-01-05  1.295048  0.305648  0.547617 -0.916935
2013-01-06  2.276999  1.027610 -0.241869 -0.004060

In [27]:
df.sort_values(by="B")

                   A         B         C         D
2013-01-06 -0.004060 -0.241869  1.027610  2.276999
2013-01-04 -1.229200 -0.170612  0.303431 -0.569110
2013-01-02  0.605653  0.087549  0.096415 -1.678157
2013-01-05 -0.916935  0.547617  0.305648  1.295048
2013-01-03  1.034388  0.817980  0.589834 -1.018562
2013-01-01  0.601775  1.927217 -0.528308 -0.575904

In [28]:
df["A"]

2013-01-01    0.601775
2013-01-02    0.605653
2013-01-03    1.034388
2013-01-04   -1.229200
2013-01-05   -0.916935
2013-01-06   -0.004060
Freq: D, Name: A, dtype: float64

In [29]:
df[0:3]

                   A         B         C         D
2013-01-01  0.601775  1.927217 -0.528308 -0.575904
2013-01-02  0.605653  0.087549  0.096415 -1.678157
2013-01-03  1.034388  0.817980  0.589834 -1.018562

In [31]:
df["20130102":"20130104"]

                   A         B         C         D
2013-01-02  0.605653  0.087549  0.096415 -1.678157
2013-01-03  1.034388  0.817980  0.589834 -1.018562
2013-01-04 -1.229200 -0.170612  0.303431 -0.569110

In [32]:
df.loc[dates[0]]

A    0.601775
B    1.927217
C   -0.528308
D   -0.575904
Name: 2013-01-01 00:00:00, dtype: float64

In [33]:
df.loc[:,["A","B"]]

                   A         B
2013-01-01  0.601775  1.927217
2013-01-02  0.605653  0.087549
2013-01-03  1.034388  0.817980
2013-01-04 -1.229200 -0.170612
2013-01-05 -0.916935  0.547617
2013-01-06 -0.004060 -0.241869

In [34]:
df

                   A         B         C         D
2013-01-01  0.601775  1.927217 -0.528308 -0.575904
2013-01-02  0.605653  0.087549  0.096415 -1.678157
2013-01-03  1.034388  0.817980  0.589834 -1.018562
2013-01-04 -1.229200 -0.170612  0.303431 -0.569110
2013-01-05 -0.916935  0.547617  0.305648  1.295048
2013-01-06 -0.004060 -0.241869  1.027610  2.276999

In [35]:
rng = pd.date_range("1/1/2012", periods=100, freq="S")

In [36]:
ts = pd.Series(np.random.randint(0, 500, len(rng)), index=rng)

In [37]:
ts.resample("5Min").sum()

2012-01-01    24617
Freq: 5T, dtype: int64

In [38]:
rng = pd.date_range("3/6/2012 00:00", periods=5, freq="D")

In [39]:
ts = pd.Series(np.random.randn(len(rng)), rng)

In [40]:
ts

2012-03-06    0.499942
2012-03-07   -0.843190
2012-03-08   -0.806787
2012-03-09   -0.531232
2012-03-10    0.837395
Freq: D, dtype: float64

In [41]:
ts_utc = ts.tz_localize("UTC")

In [42]:
ts_utc

2012-03-06 00:00:00+00:00    0.499942
2012-03-07 00:00:00+00:00   -0.843190
2012-03-08 00:00:00+00:00   -0.806787
2012-03-09 00:00:00+00:00   -0.531232
2012-03-10 00:00:00+00:00    0.837395
Freq: D, dtype: float64

In [43]:
ts_utc.tz_convert("US/Eastern")

2012-03-05 19:00:00-05:00    0.499942
2012-03-06 19:00:00-05:00   -0.843190
2012-03-07 19:00:00-05:00   -0.806787
2012-03-08 19:00:00-05:00   -0.531232
2012-03-09 19:00:00-05:00    0.837395
Freq: D, dtype: float64

In [48]:
rng = pd.date_range("1/1/2012", periods=5, freq="M")
ts = pd.Series(np.random.randn(len(rng)), index=rng)
ts

2012-01-31   -1.239963
2012-02-29    0.692401
2012-03-31    0.845338
2012-04-30   -0.692898
2012-05-31    1.317604
Freq: M, dtype: float64

In [51]:
ts.to_csv

<bound method NDFrame.to_csv of 2012-01-31   -1.239963
2012-02-29    0.692401
2012-03-31    0.845338
2012-04-30   -0.692898
2012-05-31    1.317604
Freq: M, dtype: float64>