In [4]:
import pandas as pd

df = pd.DataFrame(
   {
       "date": [
            pd.Timestamp("2022-01-01"),
            pd.Timestamp("2022-01-02"),
            pd.Timestamp("2022-01-03"),
            pd.Timestamp("2022-01-04"),
            pd.Timestamp("2022-01-05"),
            pd.Timestamp("2022-01-06"),
            pd.Timestamp("2022-01-07"),
            pd.Timestamp("2022-01-08"),
            pd.Timestamp("2022-01-09"),
            pd.Timestamp("2022-01-10"),
            pd.Timestamp("2022-01-11"),
            pd.Timestamp("2022-01-12"),
            pd.Timestamp("2022-01-13"),
            pd.Timestamp("2022-01-14"),
            pd.Timestamp("2022-01-15"),
            pd.Timestamp("2022-01-16"),
            pd.Timestamp("2022-01-17"),
            pd.Timestamp("2022-01-18"),
            pd.Timestamp("2022-01-19"),
            pd.Timestamp("2022-01-20"),
        ],
        "ID": [0, 1, 2, 3, 4, 5 ,6 ,7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19],
        "Price": [10, 20, 30, 40,10, 20, 30, 40,10, 20, 30, 40,10, 20, 30, 40,10, 20, 30, 40]
    }
)
df

         date  ID  Price
0  2022-01-01   0     10
1  2022-01-02   1     20
2  2022-01-03   2     30
3  2022-01-04   3     40
4  2022-01-05   4     10
5  2022-01-06   5     20
6  2022-01-07   6     30
7  2022-01-08   7     40
8  2022-01-09   8     10
9  2022-01-10   9     20
10 2022-01-11  10     30
11 2022-01-12  11     40
12 2022-01-13  12     10
13 2022-01-14  13     20
14 2022-01-15  14     30
15 2022-01-16  15     40
16 2022-01-17  16     10
17 2022-01-18  17     20
18 2022-01-19  18     30
19 2022-01-20  19     40

In [5]:
df.index = pd.DatetimeIndex(df.date, name='date')
#df.groupby(level=['weekday']).mean()
df = df.set_index([df.index,df.index.weekday])
df.index.names = ['date','weekday']
df.groupby(level=['weekday']).sum()
df
#print(df.info())

                         date  ID  Price
date       weekday
2022-01-01 5       2022-01-01   0     10
2022-01-02 6       2022-01-02   1     20
2022-01-03 0       2022-01-03   2     30
2022-01-04 1       2022-01-04   3     40
2022-01-05 2       2022-01-05   4     10
2022-01-06 3       2022-01-06   5     20
2022-01-07 4       2022-01-07   6     30
2022-01-08 5       2022-01-08   7     40
2022-01-09 6       2022-01-09   8     10
2022-01-10 0       2022-01-10   9     20
2022-01-11 1       2022-01-11  10     30
2022-01-12 2       2022-01-12  11     40
2022-01-13 3       2022-01-13  12     10
2022-01-14 4       2022-01-14  13     20
2022-01-15 5       2022-01-15  14     30
2022-01-16 6       2022-01-16  15     40
2022-01-17 0       2022-01-17  16     10
2022-01-18 1       2022-01-18  17     20
2022-01-19 2       2022-01-19  18     30
2022-01-20 3       2022-01-20  19     40